body {
    background-color: #1F1E1F !important;
}

.container {
    min-height: 100vh;
    background-color: #1F1E1F !important;
    display: flex;
    align-items: center;
    justify-content: center;
}